@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

ul, ol {
  list-style: none;
}

ul li a, ol li a {
  text-decoration: none;
  color: #000;
}

.header {
  height: 300px;
  background: url("./images/image-hero-mobile.jpg");
  background-size: cover;
}

.header-wrapper {
  padding: clamp(1.5em, 5vw, 2.5em) 1em;
  max-width: 1150px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .logo {
  margin-right: auto;
}

.header-wrapper {
  position: relative;
}

.nav-list .dropdown-list {
  border-radius: 0.5em;
  background-color: #FFF;
  display: none;
  opacity: 0;
  position: absolute;
  top: 75px;
  right: 18px;
  width: 90%;
  max-width: 350px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.nav-list .dropdown-list li {
  padding: 1em;
  border-bottom: 1px solid rgba(150, 150, 150, 0.35);
}

.nav-list .dropdown-list li:last-child {
  border-bottom: none;
}

.nav-list .dropdown-list a {
  font-weight: 500;
}

.nav-list .dropdown-list a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  .header {
    background: url("./images/image-hero-desktop.jpg");
    background-size: cover;
    height: 400px;
  }
  .hamburger-btn {
    display: none;
  }
  .nav-list .dropdown-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    background-color: transparent;
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
  }
  .nav-list .dropdown-list li {
    border: none;
  }
  .nav-list .dropdown-list li a {
    color: #FFF;
  }
}

.main-cards {
  position: relative;
  top: -60px;
  text-align: center;
}

.mastercraft-card h1 {
  font-size: clamp(1.3em, 2vw, 1.8em);
  width: 80%;
  max-width: 200px;
}

.mastercraft-card p {
  color: #7a7a7a;
  margin-top: 0.5em;
  width: 90%;
  max-width: 300px;
}

.mastercraft-card .mastercraft-logo {
  max-width: 100%;
  position: relative;
  top: -25px;
}

.mastercraft-card .mastercraft-interactive-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  max-width: 400px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.mastercraft-card .mastercraft-interactive-btns .bookmark-btn {
  cursor: pointer;
}

.mastercraft-card .mastercraft-interactive-btns .bookmark-btn span {
  display: none;
}

.mastercraft-card .mastercraft-interactive-btns .bookmark-btn span:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1440px) {
  .mastercraft-card h1, .mastercraft-card p {
    max-width: 100%;
  }
  .mastercraft-card .mastercraft-interactive-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
  .mastercraft-card .mastercraft-interactive-btns .bookmark-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: 50px;
    z-index: 1;
  }
  .mastercraft-card .mastercraft-interactive-btns .bookmark-btn span {
    position: relative;
    left: -50px;
    display: inline;
    color: #7a7a7a;
    font-weight: 700;
    font-size: 16px;
    padding: 1.2em;
    border-radius: 5em;
    padding-left: 4em;
    background-color: #F4F4F4;
    z-index: -1;
  }
}

.pledge-total {
  padding: 2em;
  text-align: center;
}

.stats .total-amount::after, .stats .backers::after {
  content: '';
  height: 1px;
  background-color: #7a7a7a;
  opacity: 0.5;
  width: 75%;
  margin: 1.5em auto;
  display: block;
}

.stats h2 {
  font-size: 32px;
  margin-bottom: 0.2em;
}

.stats span {
  font-size: 14px;
  color: #7a7a7a;
}

.progress-bar-wrapper {
  width: 100%;
  margin-top: 1.5em;
}

.progress-bar {
  width: 100%;
  height: 12px;
  border-radius: 2em;
  background-color: #F4F4F4;
}

.progress-bar .progress-content {
  width: 85%;
  background-color: #3cb4ac;
  height: 12px;
  border-radius: 2em;
}

@media screen and (min-width: 1440px) {
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 5em;
    width: 100%;
  }
  .stats .total-amount, .stats .backers {
    position: relative;
  }
  .stats .total-amount::after, .stats .backers::after {
    display: inline-block;
    margin-left: 2.2em;
    position: absolute;
    top: -25%;
    height: 50px;
    width: 1px;
  }
  .progress-bar {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}

.about-project {
  text-align: left;
  padding: clamp(1.5em, 5vw, 2.5em);
}

.about-project .about-header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1em;
  margin-top: 1em;
}

.about-project p {
  font-size: clamp(0.9em, 2vw, 1em);
  color: #7a7a7a;
  line-height: 1.5em;
  margin-top: 1em;
}

.pledge-cards {
  margin-top: 1.5em;
}

.pledge-cards .pledge-card {
  border-radius: 0.5em;
  background-color: #FFF;
  border: 2px solid rgba(150, 150, 150, 0.2);
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.pledge-cards .pledge-title h3 {
  font-size: clamp(0.9em, 2vw, 1.1em);
}

.pledge-cards .pledge-title .cyan-accent {
  color: #3cb4ac;
  font-weight: 500;
  margin-top: 0.3em;
  font-size: clamp(0.9em, 2vw, 1em);
}

.pledge-cards p {
  font-size: clamp(14.5px, 2vw, 16.5px);
}

.pledge-cards .pledge-select {
  margin-top: 1em;
}

.pledge-cards .pledge-select h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
}

.pledge-cards .pledge-select h4 span {
  margin-left: 0.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
  font-weight: 400;
  color: #7a7a7a;
}

.pledge-cards .pledge-select button {
  margin-top: 1.5em;
}

@media screen and (min-width: 1440px) {
  .pledge-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pledge-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.back-project-modal {
  position: absolute;
  top: -200px;
  width: 100%;
  z-index: 3;
}

.back-project-wrapper {
  width: 90%;
  max-width: 730px;
  margin: auto;
}

.back-project-card {
  border-radius: 0.5em;
  background-color: #FFF;
  padding: clamp(1.5em, 2.5vw, 2em);
  margin: 5em 0em;
  text-align: left;
}

.back-project-card .back-project-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.back-project-card .back-project-title-wrapper h2 {
  font-size: clamp(18px, 2vw, 24px);
}

.back-project-card .back-project-about {
  font-size: clamp(14px, 2vw, 17px);
  color: #7a7a7a;
  line-height: 1.5em;
  margin-top: 1em;
}

.radio-card-wrapper {
  padding: 1.6em;
  border-radius: 0.5em;
  border: 1px solid rgba(150, 150, 150, 0.5);
  margin-top: 1.5em;
}

.radio-card-wrapper:hover h3 {
  color: #3cb4ac;
}

.radio-card-wrapper input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  border-radius: 50%;
}

.radio-card-wrapper input:checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-card-wrapper input:checked::after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3cb4ac;
}

.radio-card-wrapper .radio-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
}

.radio-card-wrapper .radio-header h3 {
  font-size: clamp(14px, 2vw, 18px);
}

.radio-card-wrapper .radio-header .pledge-title span {
  color: #3cb4ac;
  font-weight: 700;
}

.radio-card-wrapper p {
  margin-top: 1.5em;
  font-size: clamp(14px, 2vw, 15px);
  color: #7a7a7a;
  line-height: 1.5em;
}

.radio-card-wrapper h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 18px;
  margin-bottom: 0.2em;
  gap: 0.5em;
  margin-top: 1.5em;
}

.radio-card-wrapper span {
  font-size: 14px;
  color: #7a7a7a;
  font-weight: 400;
}

.radio-card-wrapper,
.form-control,
.radio-header {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .radio-card-wrapper {
    position: relative;
  }
  .radio-card-wrapper p {
    margin-left: 2.5em;
  }
  .radio-card-wrapper .pledge-title {
    gap: 1em;
  }
  .form-control h4 {
    position: absolute;
    right: 20px;
    top: -5px;
  }
}

body {
  background-color: #FAFAFA;
  font-size: 16px;
}

.main-btn {
  background-color: #3cb4ac;
  padding: 1.2em 2.5em;
  border-radius: 10em;
  font-weight: 700;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
}

.main-btn:hover {
  background-color: #147b74;
}

.base-card-style {
  border-radius: 0.5em;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  max-width: 730px;
  margin: 1em auto;
  border: 1px solid rgba(150, 150, 150, 0.1);
}

.glass-effect {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled .main-btn {
  background-color: #7a7a7a;
  cursor: not-allowed;
}

.disabled .main-btn:hover {
  background-color: #7a7a7a;
}

.disabled:hover .pledge-title h3 {
  color: #000;
}
/*# sourceMappingURL=styles.css.map */