.back-project-modal {
    position: absolute;
    top: -200px;
    width: 100%;

    z-index: 3;
}

.back-project-wrapper {
    width: 90%;
    max-width: 730px;
    margin: auto;
}

.back-project-card {
    @include createCard(0.5em, #FFF);

    padding: clamp(1.5em, 2.5vw, 2em);
    margin: 5em 0em;

    text-align: left;
    .back-project-title-wrapper {
        @include createFlex(row, space-between, center);
        h2 {
            font-size: clamp(18px, 2vw, 24px);
        }
    }
    .back-project-about {
        font-size: clamp(14px, 2vw, 17px);
        color: $clr-dark-gray;
        line-height: 1.5em;

        margin-top: 1em;
    }
}