.main-cards {
    position: relative;
    top: -60px;
    text-align: center;
}

.mastercraft-card {
    h1 {
        font-size: clamp(1.3em, 2vw, 1.8em);
        width: 80%;
        max-width: 200px;
    }

    p {
        color: $clr-dark-gray;
        margin-top: 0.5em;
        width: 90%;
        max-width: 300px;
    }

    .mastercraft-logo {
        max-width: 100%;
        position: relative;
        top: -25px;
    }

    .mastercraft-interactive-btns {
        @include createFlex(row, space-around, center);

        width: 85%;
        max-width: 400px;
        margin-top: 2em;
        margin-bottom: 2em;

        .bookmark-btn {
            cursor: pointer;
            span {
                display: none;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .mastercraft-card {
        h1, p {
            max-width: 100%;
        }

        .mastercraft-interactive-btns {
            justify-content: space-between;
            max-width: 100%;
            .bookmark-btn {
                display: flex;
                align-items: center;

                position: relative;
                left: 50px;

                z-index: 1;
                span {
                    position: relative;
                    left: -50px;

                    display: inline;

                    color: $clr-dark-gray;
                    font-weight: 700;
                    font-size: 16px;

                    
                    padding: 1.2em;
                    border-radius: 5em;
                    padding-left: 4em;

                    background-color: #F4F4F4;
                    z-index: -1;
                }
            }
        }

    }
}