.pledge-total {
    padding: 2em;
    text-align: center;
}

.stats {
    .total-amount, .backers {
        &::after {
            content: '';
            height: 1px;
            background-color: $clr-dark-gray;
            opacity: 0.5;
            width: 75%;
            margin: 1.5em auto;
            display: block;
        }
    }
    h2 {
        font-size: 32px;
        margin-bottom: 0.2em;
    }
    span {
        font-size: 14px;
        color: $clr-dark-gray;
    }
}

.progress-bar-wrapper {
    width: 100%;
    margin-top: 1.5em;
}

.progress-bar {
    width: 100%;
    height: 12px;
    border-radius: 2em;
    background-color: #F4F4F4;
    .progress-content {
        width: 85%;
        background-color: $clr-moderate-cyan;
        height: 12px;
        border-radius: 2em;
    }
}

@media screen and (min-width: 1440px) {
    .stats {
        display: flex;
        justify-content: flex-start;
        gap: 5em;
        width: 100%;
        .total-amount, .backers {
            position: relative;
            &::after {
                display: inline-block;
                margin-left: 2.2em;

                position: absolute;
                top: -25%;

                height: 50px;
                width: 1px;
            }
        }
    }
    
    .progress-bar {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
}