// BASE STYLING

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

button {
    background-color: transparent;
    border: none;
}

ul, ol {
    list-style: none;
    li {
        a {
            text-decoration: none;
            color: #000;
        }
    }
}

// COLOR VARIABLES
$clr-dark-gray: hsl(0, 0%, 48%);
$clr-moderate-cyan: hsl(176, 50%, 47%);
$clr-dark-cyan: hsl(176, 72%, 28%);

// OTHER VARIABLES
$hr-light-border: 1px solid rgba(150, 150, 150, 0.35);



// MIXINS
@mixin createCard($radius, $shadow, $bgColor) {
    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $bgColor;
}
